@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha:wght@400;700&display=swap');

* {
    margin: 0px;
}

body {
    background-color: #a3ccab;
}

.header {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #053d38;

}

.header img {
    height: 100px;
    width: auto;
    margin: 10px;
}

.header ul li {
    display: inline-block;
    left: 10px;
    margin-right: 30px;
    margin-top: 45px;
    list-style: none;
    font-size: 23px;

}

.header a:link,
.header a:visited {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: rgb(196, 190, 190)
}

#search_box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 30px;
    max-width: 1000px;
    border: 1px solid black;
    margin: 40px;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
}

#search-input {
    width: 96%;
    border-radius: 10px;

}

#search_box input {
    border: none;
    font-size: 20px;

}

#search {
    width: 95%;
}

#search-button {
    background-image: url(Bilder/magnifying_glass.png);
    background-size: cover;
    background-position: center;
    background-color: white;
    border: none;
    height: 28px;
    width: 28px;
    cursor: pointer;
}


.navigation_bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #34675C;
}

.navigation_bar ul li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 25px;
}

.navigation_bar a:link,
.navigation_bar a:visited {
    color: white;
    text-decoration: none;
}

.navigation_bar a:hover {
    color: gray;
}

#wrapper {
    height: 350px;
    width: 80%;
    margin: 20px auto;
    padding: 15px;


}

#wrapper h1 {
    font-family: "Apex sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;

}

#wrapper p {
    font-family: "Apex sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#container_books {
    width: 80%;
    margin: 20px auto;
    border: 1px solid black;
}

main {
    margin: 0 auto;
    width: 100%;
}

#product_results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
    background-color: white;
}

.book_item {
    margin: 20px;
    background-color: lightgray;
}

.product_cover {
    width: 260px;
    height: 420px;
    object-fit: cover;
}

.product_titel {
    font-size: 23px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.product_price {
    font-size: 20px;
    text-align: center;
    color: rgb(99, 79, 79);
}

.product_button {
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    font-family: Neucha, sans-serif;
    font-size: 23px;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

#handlekurv_produkter {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

#handlekurv_produkter>button {
    position: absolute;
    right: 5px;
}

.kurv_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    font-size: 23px;
    background-color: #f26900a7;

}

.kurv_element>img {
    height: 100px;
    width: 70px;
}

.hide {
    display: none;
}

#credentials {
    background-color: white;
    height: 100px;
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

#credentials>input,
label {
    display: block;
}

#credentials>button {
    margin: 10px;


}